<app-header></app-header>

<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary">Bem vindo de volta!</h2>
            <p class="description description-primary">Já possui conta?</p>
            <p class="description description-primary">Faça o login!</p>
            <button class="btn btn-primary" routerLink="/login">Entrar</button>
        </div>
        <div class="second-column">
            <h2 class="title title-second">Criar uma conta</h2>
            <div class="social-media">
                <ul class="list-social-media">
                    <a class="link-social-media" href="#">
                        <li class="item-social-media">
                            <fa-icon [icon]='faFacebookF'></fa-icon>
                        </li>
                    </a>
                    <a class="link-social-media" href="#">
                        <li class="item-social-media">
                            <fa-icon [icon]='faGooglePlusG'></fa-icon>
                        </li>
                    </a>
                    <a class="link-social-media" href="#">
                        <li class="item-social-media">
                            <fa-icon [icon]='faLinkedinIn'></fa-icon>
                        </li>
                    </a>
                </ul>
            </div> <!-- social media -->
            <p class="description description-second">ou utilize seu e-mail para registrar:</p>
            <form #registerForm="ngForm" class="form">
                <label class="label-input" for="">
                    <fa-icon class="icon-modify" [icon]='faUser'></fa-icon>
                    <input ngModel name="name" type="text" placeholder="Nome" required>
                </label>
                <label class="label-input" for="">
                    <fa-icon class="icon-modify" [icon]='faEnvelope'></fa-icon>
                    <input ngModel name="email" type="email" placeholder="Email" required>
                </label>
                <label class="label-input" for="">
                    <fa-icon class="icon-modify" [icon]='faLock'></fa-icon>
                    <input ngModel name="password" type="password" placeholder="Senha" required>
                </label>
                <button 
                class="btn btn-second" 
                [disabled]="!registerForm.valid"
                >Registrar</button>
            </form>
        </div> <!-- second colunm -->
    </div> <!-- first-content -->
</div>

<app-footer></app-footer>