<app-header></app-header>

<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary">Bem vindo de volta!</h2>
            <p class="description description-primary">Já possui conta?</p>
            <p class="description description-primary">Faça o login!</p>
            <button class="btn btn-primary" routerLink="/login">Entrar</button>
        </div>
        <div class="second-column">
            <h2 class="title title-second">Criar uma conta</h2>
            <div class="social-media">
                <ul class="list-social-media">
                    <a class="link-social-media" href="#">
                        <li class="item-social-media">
                            <fa-icon [icon]='faFacebookF'></fa-icon>
                        </li>
                    </a>
                    <a class="link-social-media" href="#">
                        <li class="item-social-media">
                            <fa-icon [icon]='faGooglePlusG'></fa-icon>
                        </li>
                    </a>
                    <a class="link-social-media" href="#">
                        <li class="item-social-media">
                            <fa-icon [icon]='faLinkedinIn'></fa-icon>
                        </li>
                    </a>
                </ul>
            </div> <!-- social media -->
            <p class="description description-second">ou utilize seu e-mail para registrar:</p>
            <form [formGroup]="userForm" class="form" (submit)="onSubmit(userForm)">
                <label class="label-input" for="">
                    <fa-icon class="icon-modify" [icon]='faUser'></fa-icon>
                    <input formControlName="name" type="text" placeholder="Nome">
                </label>
                <label class="label-input" for="">
                    <fa-icon class="icon-modify" [icon]='faEnvelope'></fa-icon>
                    <input formControlName="email" type="email" placeholder="Email">
                </label>
                <span class="login-error"
                *ngIf="validRegister(userForm)">
                Email já cadastrado</span>
                <label class="label-input" for="">
                    <fa-icon class="icon-modify" [icon]='faCalendar'></fa-icon>
                    <input formControlName="inclusionDate" type="text" placeholder="Email">
                </label>
                <label class="label-input" for="">
                    <fa-icon (click)="locked()" class="icon-modify" [icon]='faLockIcon'></fa-icon>
                    <input formControlName="password" [type]="type" placeholder="Senha">
                </label>
                <span class="login-error"
                *ngIf="userForm.controls.password.errors?.minlength">
                A senha tem que possuir pelo menos 3 caracteres</span>
                <div class="radio">
                    <input  type="radio" formControlName="userType" value="teacher"> <label for="teacher">Professor</label>
                    <input  type="radio" formControlName="userType" value="student"> <label for="student">Estudante</label>
                </div>
                
                <button type="submit"
                class="btn btn-second" 
                [disabled]="userForm.invalid || invalidRegistry"
                >Registrar</button>
            </form>
        </div> <!-- second colunm -->
    </div> <!-- first-content -->
</div>

<app-footer></app-footer>