.content {
    width: 0;
}

@import 'src/assets/styles/_colors.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    border: 2px solid $color-default-black;
    border-radius: 20px;
    box-shadow: $shadow-default-black;
    padding: 10px 0;
    margin: 20px;
    background-color: $color-default-black;
    color: $color-default-white;

    img {
        width: 60px;
        border-radius: 50px;
    }

    span {
        font-weight: bold;
    }

    .btn {
        cursor: pointer;
        width: 80px;
        height: 30px;
        border-radius: 20px;
        border: 1px solid $color-default-green-logo;
        background-color: $color-default-white;
        transition: background-color .5s;
    }

    .btn:hover {
        border: 1px solid $color-default-white;
        background-color: $color-default-green-logo;
    }

    .btn-details {
        display: flex;
        gap: 10px;
    }
}